/** adsyst */

.ms_block, #MarketGidComposite19282 { width:800px; background:#F1F1F1;  }

#MarketGidComposite19282 { height: 90px !important; }
#MarketGidComposite19282 table { width: 100% !important; }
#MarketGidComposite19282 img.mcimage4746 { padding:0; margin-right:3px; }

