<div class="container">

    <div class="col-md-4 col-md-offset-4">


        <div class="padded">
            <div class="login box" style="margin-top: 80px;">

                <div class="box-header">
                    <span class="title">Login</span>
                </div>

                <div class="box-content padded">
                    
                    <form action="/users/login/" class="separate-sections">

                        <div class="">
                            <input value=""
                                   name="login"
                                   placeholder="username" type="text" class="form-control">
                        </div>

                        <div class="">
                            <input placeholder="password"
                                   name="password"
                                   type="password" class="form-control">
                        </div>

                        <div>
                            <a class="btn btn-primary" href="">
                                Login <i class="glyphicon glyphicon-ok-sign"></i>
                            </a>
                        </div>

                    </form>


                </div>

            </div>

            <!--
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i> Facebook</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-twitter btn-block"><i class="icon-twitter"></i> Twitter</a>
                </div>
            </div>
            -->
        </div>
    </div>
</div>