<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content box">

                <div class="box-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="title">[[title]]</span>
                </div>

                <div class="box-content padded clearfix">
                    [[body]]
                </div>

        </div>
    </div>
</div>


